//COLORS

$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Blue: hsl(248, 32%, 49%);
$Dark-Blue: hsl(249, 10%, 26%);
$Grayish-Blue: hsl(246, 25%, 77%);
$White:#fff;

//UI

$background-body:$Red;
$background-form:$White;
$background-button-form:$Green;
$background-offer:$Blue;
$color-font-body-light:$White;
$color-font-form-dark:$Dark-Blue;
$color-font-form-light:$Grayish-Blue;
$color-font-form-accent:$Red;
$color-font-error:$Red;
